@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

.header_container {
    margin-left: 100px;
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 40px;
}

.main_container {
    margin-left: 100px;
} 

.header_container img {
    width: 46px;
    height: 71px;
}

.bg {
    background-image: url(./img/image\ 2.png);
    position: absolute;
}

.header_container nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    opacity: 0.5;
}

.header_container nav ul a {
    color: white;
}

.text {
    font-size: 24px;
    opacity: 0.8;
    color: white;
    margin-top: 85px;
}

.text1 {
    margin-top: 40px;
}

.text2 {
    margin-top: 40px;
    color: white;
    opacity: 0.8;
    font-size: 16px;
    width: 423px;
}

.btns {
    display: flex;
    gap: 20px;
    margin-top: 100px;
}

.btn {
    width: 204px;
    height: 46px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8D0019;
    gap: 10px;
}

.btn1 {
    width: 204px;
    height: 46px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}

.blocks {
    display: flex;
    margin-left: 340px;
}
.block {
    position: absolute;
}
.venom {
    margin-left: 950px;
    top: 12px;
}
.venom img{
    width: 626px;
    height: 724px;
    position: absolute;
}